 
  .navbar {
    margin-bottom: 0px;
    border-radius: 0;
  }

  
.carousel-inner img {

    margin: auto;
    min-height:100px;
}

@media (max-width: 600px) {
  .carousel-caption {
    display: none;
  }
}
